{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Dashboard</h1>
                            <span class="subheading">Welcome, {{ user }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="nav">
                            <ul>
                                <li>Post</li>
                                <li><a href="/new-post">New Post</a></li>
                                <li><a href="/all-post">All Posts</a></li>
                                <li>Category</li>
                                <li><a href="/dashboard/new-category">New Category</a></li>
                                <li><a href="/dashboard/all-categories">All Categories</a></li>
                                <li>Tag</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-xl-9">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td>ID</td>
                                        <td>Category Name</td>
                                        <td colspan="2" class="text-center">Action</td>
                                    </tr>
                                    {% for category in category_data %}
                                    <tr>
                                        <td>{{ category[0]}}</td>
                                        <td>{{ category[1]}}</td>
                                        <td class="text-center"><a href="/dashboard/category?id={{ category[0] }}">Edit</a></td>
                                        <td class="text-center">Delete</td>
                                    </tr>
                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% include 'footer.html' %}